

body {
    font-family: "Montserrat", sans-serif;
    background-color: #464242;
    margin: 0;
    padding: 0;
    color: #000000;
}

.brasao {
display: flex;
justify-content: center;
}

main img {
    height: 200px;
}

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
}

.header-left p {
    margin: 0;
}

.header-center h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

#logout-button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#logout-button:hover {
    background-color: #ddd;
}

.filter-buttons, .search-container {
    text-align: center;
    margin: 20px 0;
}

.filter-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #000000;
    color: white;
}

#search-input {
    padding: 10px 20px;
    width: 25%;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2.5px solid black;
    border-radius: 10px;
}

.filter-select {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    display: block;
}

.todos-atletas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.atleta {
    border: 2px solid #000000;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 12rem;
    display: flex;
    flex-direction: column; 
}

.atleta img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.details-link {
    display: inline-block;
    font-weight: 600;
    width: 50%;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-top: auto;
    cursor: pointer;
}

.details-link:hover {
    background-color: #008d07;
    color: #000000;
}


@media (max-width: 768px) {
    .athlete {
        flex: 1 1 100%; 
    }
    
    .filter-buttons {
        display: none; 
    }
    
    .search-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .search-container::before {
        content: '';
        display: block;
        margin-bottom: 10px;
    }
    
    .search-container select {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    #search-input {
        margin-top: 10px;
    }

    .filter-select {
        margin-top: 2rem; 
    }
}

@media (max-width: 560px) {
    .header-left {
        display: none;
    }
}

@media (max-width: 450px) {
    header {
        display: grid;
        align-items: center;
    }

    .header-right {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

}

@media (min-width: 769px) {
    .athlete {
        flex: 1 1 1
    }

    .filter-buttons {
        display: flex;
        justify-content: center;
    }

    .search-container select {
        display: none;
    }

    .filter-select {
        display: none; 
    }
}